{% extends "show_entries.html" %}
{% block markdown_editor %}
{% if session.logged_in %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>

<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Title:
        <dd><input type=text id=title size=30 name=title>
        <dt>Text:
        <dd><textarea name=text id=textarea rows=20 cols=40></textarea>
        <dd><input type=submit value=Share>
    </dl>
</form>

<body>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("textarea")
        });
    </script>
</body>
{% endif %}
{% endblock %}
